@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply imprint-font-sans-serif imprint-fontsize-root;
}

body {
    @apply imprint;
}

.docs-content-grid {
    --padding-inline: 0.05rem;
    --content-max-width: 85rem;

    display: grid;
    grid-template-columns: [full-width-start] minmax(var(--padding-inline), 1fr) [content-start] min(100% - (var(--padding-inline) * 2), var(--content-max-width)) [content-end] minmax(var(--padding-inline), 1fr) [full-width-end];
}

.docs-content-grid > :not(.full-width),
.full-width > :not(.full-width) {
    grid-column: content;
}

.docs-content-grid > .full-width {
    grid-column: full-width;

    display: grid;
    grid-template-columns: inherit;
}

.docs-margin {
    @apply mx-6 b:mx-8;
}

.docs-padding {
    @apply px-6 b:px-8;
}

.docs-padding-left {
    @apply pl-6 b:pl-8;
}

.astro-code {
    @apply p-4;
    background-image: url("/assets/blueprint-moz.png");
    background-repeat: repeat;
}

table pre, table code {
    background-color: inherit !important;
}

table .cssClassname code, table .cssVarname code {
    @apply text-imprint-blue !important;
}

table pre {
    border: 0 !important;
    color: var(--imprint-semantic-code-color) !important;
    padding: 0 !important;
}

li.pagetoc {
    display: list-item;
    @apply mt-2;
}

li.pagetoc a {
    @apply leading-relaxed hover:text-[--imprint-semantic-link-hover-color] !important;
}

li.pagetoc a.active {
    @apply text-imprint-primary;
}

li.pagetoc-2 {

}

li.pagetoc-3 {
    @apply font-light mt-1 text-imprint-nero text-[0.95em];
}

nav.pagetoc-ol {
    @apply mt-4;
}

.pagetoc-ol ol {
    list-style-type: decimal;
    padding-left: var(--imprint-list-indent);
}

.pagetoc-ol li {
    display: list-item;
    list-style-position: outside;
}

#show-hide-nav:checked ~ * #hamburger-sidebar {
    display: block !important;
    transition: all 0.5secs ease;
    position: absolute;
    top: 0rem;
    left: 0;
    background-color: rgb(234 234 234);
    width: 100%;
    z-index: 20;
    max-height: 100dvh;
    padding-bottom: 10rem;
    overflow-y: auto;
}

#show-hide-nav:checked ~ * #open-show-hide-nav {
    display: none !important;
}

#show-hide-nav:not(:checked) ~ * #open-show-hide-nav {
    display: block;
}

#show-hide-nav:not(:checked) ~ * #close-show-hide-nav {
    display: none !important;
}

#show-hide-nav:checked ~ * #close-show-hide-nav {
    display: block;
}

/** based on https://codepen.io/arlinacode/pen/pvXQwK */

.docs-alert {
    padding: 1rem;
    margin-bottom: 20px;
    border: 1px solid transparent;
    /* border-radius: 4px; */
    box-sizing: content-box;

    border-top-color: #d8d8d8;
    border-bottom-color: #bdbdbd;
    border-left-color: #cacaca;
    border-right-color: #cacaca;
}

.docs-alert .content > * + * {
    margin-top: var(--imprint-prose-spacing);
}

.docs-alert h4 {
    margin-top: 0;
    color: inherit;
}
/* .docs-alert.--shaded {
    background-image: linear-gradient(to bottom,#FFFFFF,#FcFcFc);
    background-color: var(--imprint-semantic-shaded-background-color);
    color: var(--imprint-semantic-shaded-color);
} */

.docs-alert:has(.icon) {
    @apply pl-72rpx;
    position: relative;
}

.docs-alert .icon {
    text-align: center;
    @apply w-48rpx;
     /* width: 46px; */
    height: 100%;
    position: absolute;
    top: -1px;
    left: -1px;
    border: 1px solid #bdbdbd;
    box-sizing: content-box;
    color: #fff;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.docs-alert .icon:after {
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    display: block;
    content: '';
    @apply w-16rpx h-16rpx;
    border: 1px solid #bdbdbd;
    position: absolute;
    border-left: 0;
    border-bottom: 0;
    top: 50%;
    @apply -right-8rpx;
    @apply -mt-8rpx;
    background: #fff;
}

.rounded .icon {
    @apply rounded-l;
}

.rounded-1 .icon {
    @apply rounded-l-[0.25rem];
}

.rounded-2 .icon {
    @apply rounded-l-[0.5rem];
}

.rounded-3 .icon {
    @apply rounded-l-[0.75rem];
}

.rounded-4 .icon {
    @apply rounded-l-[1rem];
}

.docs-alert .icon, .docs-alert .icon:after {
    border-color: var(--imprint-semantic-heading-background-color);
    background: var(--imprint-semantic-heading-background-color);
}

.docs-alert {
    border-color: var(--imprint-semantic-heading-background-color);
    color: var(--imprint-semantic-content-color);
}

.docs-alert .icon svg {
    color: var(--imprint-semantic-heading-color);
}

.gradient-panel {
    background: rgb(228,228,231);
    background: linear-gradient(0deg, rgba(218,218,220,1) 0%, rgba(224,224,228,1) 35%, rgba(228,228,231,1) 100%);
}

.copied-tooltip {
    visibility: hidden;
    text-align: center;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the text */
    left: 0%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    @apply w-16 px-1 py-2 font-bold text-white border rounded-md bg-imprint-primary --standout-lg imprint-fontsize-brevier border-imprint-inversion;
}

.docs-color-blocks {
    @apply grid grid-cols-1 gap-2 b:grid-cols-2 e:grid-cols-3 f:grid-cols-4;
}

.docs-color-blocks-1 {
    @apply grid grid-cols-1 gap-2;
}

.docs-color-blocks-2 {
    @apply grid grid-cols-1 gap-2 b:grid-cols-2;
}

.docs-color-blocks-2wide {
    @apply grid grid-cols-1 gap-x-2 b:grid-cols-2;
}

.docs-color-swatches, .docs-color-swatches-5 {
    @apply grid grid-cols-2 gap-2 b:grid-cols-3 d:grid-cols-4 f:grid-cols-5;
}

.docs-color-palette,
.docs-color-palette-7 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    gap: 0.5rem;
}

.docs-color-palette-5 {
    @apply grid grid-cols-2 gap-2 shrink-0 b:grid-cols-4 c:grid-cols-5;
}

.docs-color-palette-70 {
    @apply grid grid-cols-2 gap-2 shrink-0 b:grid-cols-4 c:grid-cols-5 d:grid-cols-7;
}

.docs-color-palette-8 {
    @apply grid grid-cols-2 gap-2 shrink-0 b:grid-cols-4 c:grid-cols-5 d:grid-cols-7 e:grid-cols-8;
}

.docs-color-palette-9 {
    @apply grid grid-cols-2 gap-2 shrink-0 b:grid-cols-4 c:grid-cols-5 d:grid-cols-7 e:grid-cols-8 f:grid-cols-9;
}

.docs-color-palette-10 {
    @apply grid grid-cols-2 gap-2 shrink-0 b:grid-cols-4 c:grid-cols-5 d:grid-cols-7 e:grid-cols-8 f:grid-cols-10;
}

.docs-color-palette-11 {
    @apply grid grid-cols-2 gap-2 shrink-0 b:grid-cols-4 c:grid-cols-6 d:grid-cols-7 e:grid-cols-8 f:grid-cols-11;
}

/* workarounds for Astro / Tailwind issues */
.dummy-grid-cols-3 {
    @apply grid-cols-3;
}
.dummy-grid-cols-4 {
    @apply grid-cols-4;
}
.dummy-grid-cols-5 {
    @apply grid-cols-5;
}
.dummy-grid-cols-6 {
    @apply grid-cols-6;
}
.dummy-grid-cols-7 {
    @apply grid-cols-7;
}
.dummy-grid-cols-8 {
    @apply grid-cols-8;
}
.dummy-grid-cols-9 {
    @apply grid-cols-9;
}
.dummy-grid-cols-10 {
    @apply grid-cols-10;
}
.dummy-grid-cols-11 {
    @apply grid-cols-11;
}
.dummy-grid-cols-12 {
    @apply grid-cols-12;
}
.dummy-inline {
    @apply inline;
}